body {
}

a {
  display: inline-block;
  text-decoration: none;
}

.suptitle-left {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  /* identical to box height, or 145% */
  text-align: right;
  letter-spacing: 7.33333px;
  text-transform: uppercase;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}
